
.hover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hover img {
  display: block;
  position: relative;
}

.hover h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hover button.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  border-radius: 0px;
  background-color: transparent;
}

.hover button.info:hover {
  box-shadow: 0 0 5px #fff;
}

/* styling to remove box shadow and border from buttons for last few effects */

.hover button.nullbutton {
  border: none;
  padding: 0px;
  margin: 0px;
}

.hover button.nullbutton:hover {
  box-shadow: none;
}

/* remove the blue line that shows on modal buttons after you have open and close a modal */

.modal-open .modal, button:focus {
    outline:none!important
}

/* styling so when hovering over a div that opens a modal the cursor changes to a pointer */
.point {
cursor: pointer;
}


/* effect 13 */

.ehover13 img
{
transition: all 0.35s;
}

.ehover13:hover img
{
filter: brightness(0.6);
-webkit-filter: brightness(0.6);
}

.ehover13 .overlay {
	width: 80%;
	height: 50%;
	left: 8%;
	top: 70%;
	border-bottom: 0px solid #FFF;
	border-top: 0px solid #FFF;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}



.ehover13:hover .overlay {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	
}

.ehover13 button {
	color:	#FFF;
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.ehover13 h2 {
	font-family:"Tahoma";
	font-size:24px;
	top:60%;	
	font-weight:normal !important;
	background-color: transparent;
	color:	#FFF;
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

#title-name{
	font-family:"Tahoma";
	font-size:30px;
	top:60%;
	color:#fff;	
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}



.ehover13:hover button, .ehover13:hover h2{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.caption {
	width:100%;
	bottom: .3rem;
	position: absolute;
	text-align:center;
	bottom:35px;
	color:#fff;
	font-family: Roboto", Verdana, sans-serif";
	
}


.thumbnail {
	border: 0 none;
	box-shadow: none;
	margin:0;
	padding:0;
}

.caption h4 {
	color: #fff;
	
}

#img1{
	color:  #fff ;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-left:10px;
	margin-right:10px;
	text-shadow: rgb(3, 3, 3) 2px 2px 2px;

}


#img2{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-left:10px;
	text-shadow: rgb(3, 3, 3) 2px 2px 4px;
}

#img3{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-left:10px;
	text-shadow: rgb(3, 3, 3) 2px 2px 4px;
}

#img4{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-left:10px;
	text-shadow: rgb(3, 3, 3) 2px 2px 4px;
}

#img5{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-left:10px;
	text-shadow: rgb(3, 3, 3) 2px 2px 4px;
}
#img6{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-left:10px;
	text-shadow: rgb(3, 3, 3) 2px 2px 4px;
}
#img7{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-left:10px;
	text-shadow: rgb(3, 3, 3) 2px 2px 4px;
}
#img8{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-left:10px;
	text-shadow: rgb(3, 3, 3) 2px 2px 4px;
}
#img9{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-left:10px;
	text-shadow: rgb(3, 3, 3) 2px 2px 4px;
}
#img10{
	color:#fff;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-left:10px;
	text-shadow: rgb(3, 3, 3) 2px 2px 4px;
}

	#epfo_logo_1{
		width: 8%;
		height: auto;
	}

	#sep_line{
		border-left: 1px solid #85adb7;
		display: inline-block;
		height: 5em;
		vertical-align: middle;
		width: 0;
	}
	
	#more1,#more2,#more3,#more4,#more5,#more6{
	font-size:11px;
	float:right;
	color: #4d5656;
	bottom:5px;
	right:5px;
	position:absolute;
}
	
	
	